/* font css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,800&display=swap');
/* common css */
*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background: #FD6E0A;  
    color: #FFF;
    border: none;
    padding: 20px 35px;
    border-radius: 5px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
}
.btn-secondary{
    border:1px solid #FD6E0A;  
    color: #FD6E0A;
    padding: 15px 30px;
    border-radius: 5px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
}
.section-title{
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0;
}
/* header css */
.header{
    background: #FFF8F3;
    margin-top: 45px;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.header nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 0 210px;
}
.logo-title{
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
}
.menu{
    display: flex;
    align-items:center;
}
.menu li{
    list-style: none;
    margin-right:50px;
}
.nav-link{
    text-decoration: none;
    color: #474747;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 45px;
    padding-bottom: 0px;
    padding: 30px 30px 0px 170px;
}
.banner-info{
}
.banner-greeting{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0;
}
.banner-img{
    margin-bottom: -5px !important;
}
.banner-img img{
    width: 550px;
}
.btn-group{
    margin: 22px 0;
}
.btn-group button{
    margin-right:30px;
}
/* main css */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About  */
.about{
    margin: 160px 120px;
}
.info-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
.info-group span{
    color: #0f0f0f;
    display: block;
}
.what-i-do{
    margin: 50px 0;
}
/* skill */
.skill-section{
    
}
.skill-container{
    display: flex;
    align-items: center;
}
.skil{
    margin: 0 12px;
    padding: 30px;
}
.skill-title{
    margin: 20px 0;
    color: #181818;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
}
.skill-description{
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}